html {
  font-family: sans-serif;
}

/* Your CSS below here */
div {
  width: 200px;
  height: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto; 
  font-size: 1.1rem; /*1.1rem ≈ 17.6px */
  background-color: #f00b0b;
  color: #ffffff;
  text-shadow: 1px 1px 2px black;
  border-radius: 8px;
  border: 1px solid #a30404;
  position: relative;
  box-shadow: 
      3px 3px 10px rgba(0, 0, 0, 0.3),
      inset 2px 2px 5px rgba(255, 255, 255, 0.3),
      inset -2px -2px 5px rgba(0, 0, 0, 0.3);
  background-image: linear-gradient(
      to bottom right, 
      rgba(0, 0, 0, 0) 0%, 
      rgba(0, 0, 0, 0.2) 30%, 
      rgba(0, 0, 0, 0.2) 100%
  )
}


